/* This is the corresponding css file for myAccount.html */

/* Wraps the Personal Info and Manage Account panels */
.infoAccountContainer {
	display:flex;
	justify-content: space-evenly;
}
.dangerContainer {
	display:flex;
	justify-content:center;
	align-items:center;
}
.settingsTitle {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 3vw;
}
.settingsTitle img {
	max-width: 4vw;
	max-height: 4vw;
	width: 100%;
	height: 100%;
	margin-left: 3vw;
}
.settingsTitle span {
	font-size: 2vw;
	font-weight: 900;
	padding: 2vw 1.3vw;
}
.changeInfoContainer {
	padding: 2vw 0;
}
.changeInfo {
	margin-left: 6vw;
	margin-bottom: 1.5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.changeInfo div img,
.manageInfo div img {
	width: 2vw;
	height: auto;
	margin-right: 1vw;
}
.changeInfo span{
	 font-size: 1.2vw;
}
.changeInfo input {
	padding-left: 1vw;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
.infoDescription span {
	font-size: 1.4vw;
	font-weight: 900;
	padding-right: .7vw;
}
.changeButton span {
  font-size: .9vw;
  letter-spacing: .06vw;
	padding: .4vw;
	margin-left: 4vw;
  color: #ffffff;
  border-radius: .25vw;
	background: #7fbb00;
	cursor: pointer;
  transition: background .15s ease-in-out;
}

.changeButton span:hover {
  background: #75a902;
}

.manageInfo {
	margin-left: 6vw;
	margin-bottom: 1vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 6vw;
}
.manageInfo div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1.5vw;
}
.manageSpan {
	font-size: 1.4vw;
	font-weight: 900;
	padding-right: .7vw;
	padding-bottom: 1vw;
}
.manageInfo div input {
	padding: 0 1vw;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	font-size: 1.2vw;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
.warning {
	font-size: 1.2vw;
	color: #FF1900;
}
.deleteAccButton {
	padding-right: 0;
	font-size: .9vw;
  letter-spacing: .06vw;
	padding: .4vw;
	margin-left: 4vw;
  color: #ffffff;
  border-radius: .25vw;
	background: #FF1900;
	cursor: pointer;
  transition: background .15s ease-in-out;
}
.deleteAccButton:hover {
  background: #dd1904;
}
