/* This is the corresponding css file for html files with content in the middle */
.contentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 .15vw .1vw rgba(0, 0, 0, 0.05);
}

.createSurvey {
	margin: 0 auto;
}

.createSurvey span {
	font-size: 2.5vw;
	letter-spacing: .1vw;
	cursor: pointer;
}