/* This is the corresponding css file fo createSurvey.html */
.createSurvey {
	margin-bottom: 9vh;
	margin-left: 1vw;
}
.contentAndTitles > div{
	margin-left: 4vw;
}
.contentAndTitles > div > hr {
	border: none;
	height: 1px;
	background: linear-gradient(to right, white, #aaa, white); 
}

.field {
	margin-top: 5vh;
	margin-left: 2vw;
	height: 2vw;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.field input {
	font-family: 'Montserrat', sans-serif;
	padding: 0 4vw 0 0.8vw;
	border: 0;
	/*border-bottom: .1vw solid #7fbb00;*/
	font-size: 1.2vw;
}
.field label {
	pointer-events: none;
	position: absolute;
	left: 0.7vw;
	transition: 0.3s all;
	color: #555555;
}
/* to keep the label in air on this conditions */
.field input:valid:not(:focus) + label,
.field input:focus + label {
	color: #7fbb00;
	left: 0;
	transform: translate(-1.3vw, -3vh) scale(0.7);
}
/* when invalid */
.field input:invalid:focus + label {
	color: #888888; /* color: red */
}
.field > hr{
	border: none;
	height: 1px;
	margin-top: 0.3vh; 
	background: linear-gradient(to right, #7fbb00, #7fbb00, white, white); 
}

.makeAChoice {
	margin-top: 9vh;
	padding-bottom: 4vh;
}
.makeAChoice span {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 300;
	letter-spacing: .1vw;
	font-size: 1.2vw;
}
.addAQuestion {
	position: relative;
	width: 27vw;
	height: 2.5vw;
	margin-left: 2vw;
	margin-bottom: 1vw;
	position: relative;
	padding: 0.5vw;
	padding-left: 1vw;
	border-radius: 2vw;
	box-shadow: 0 0 0.2vw 0 #ddd;
	cursor: pointer;
	transition: 0.2s all;
}
/*.addAQuestion:active {
	transform: scale(0.98);
}*/
.addAQuestion:hover {
	box-shadow: 0 0 0.5vw 0 #ddd;
}
.addAQuestion > p {
	font-size: 1.2vw;
}

.dropdown {
	position: relative;
}
.questionType img {	
	pointer-events: none;
	max-width: 2.5vw;
	max-height: 2.5vw;
}
#B1 img {
	padding-left: 0.2vw;
}
#B2 img {
	padding-top: 0.1vw;
	padding-left: 0.2vw;
}
.questionType p {
	pointer-events: none;
	position: absolute;
	top: 0;
	text-align: center;
	border-left: .1vw solid;
	border-image: linear-gradient(white, #888, white) 1 100%;
	padding-left: 2vw;
	left: 5vw;
}
.dropdown {
	overflow: hidden;
}
.mainButtonHolder {
	margin-top: 6vh;
	margin-left: 1vw;
}
.mainButtonHolder span {
	font-size: 1.2vw;
	border-radius: .5vw;
	letter-spacing: .12vw;
	padding: .8vw 1vw;
	font-family: 'Comfortaa', cursive;
	box-shadow: 0 0 0.3vw 0 #ddd;
	cursor: pointer;
}
.mainButtonHolder .cancelSurvey {
	margin-right: 3vw;
	color: #555;
	transition: 0s all;
}
.mainButtonHolder .createSurveyButton {
	color: #ffffff;	
	background: #7fbb00;
	transition: background .15s ease-in-out;
}
.cancelSurvey:hover {
	color: #cc0000;
	opacity: 0.8;
	box-shadow: 0 0 0.5vw 0 #ddd;
}
.createSurveyButton:hover {
	background: #75a902;
}


