/* This is the corresponding css file fo createSurvey.html */
.createSurvey {
	margin-top: 3vw;
	margin-bottom: 8vw;
}
.createSurvey > div {
	padding-top: 4vw;
	margin: 2vw 4vw;
}
.createSurvey div input {
	padding: 0 1vw;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	font-size: 1.2vw;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}
.makeAChoice {
	padding-bottom: 2vw;
}
.makeAChoice span {
	font-size: 1.2vw;
}
.questionType {
	width: 20vw;
	height: 4vw;
}
.questionType img {
	max-width: 4vw;
	max-height: 4vw;
	width: 100%;
	height: 100%;
	margin-right: 2vw;
	cursor: pointer;
}
.createSurveyButton span {
  font-size: 1.2vw;
  letter-spacing: .12vw;
	padding: .8vw;
  color: #ffffff;
  border-radius: .25vw;
	background: #7fbb00;
	cursor: pointer;
  transition: background .15s ease-in-out;
}
.createSurveyButton span:hover {
  background: #75a902;
}
.accountModal {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(127,187,0,0.6);
}
.modalContent {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}
.closeModal {
	color: #808182;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: color .2s ease-in-out;
}
.closeModal:hover,
.closeModal:focus {
	color: #7fbb00;
	text-decoration: none;
	cursor: pointer;
}