/* This is the corresponding css file fo createSurvey.html */

.contentAndTitles {
	margin-left: 4vw;
}

.field {
	margin-top: 3vw;
	margin-left: 2vw;
	height: 2vw;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.field input {
	font-family: 'Montserrat', sans-serif;
	padding: 0 1vw;
	border: 0;
	border-bottom: .1vw solid #7fbb00;
	font-size: 1.2vw;
}
.field label {
	pointer-events: none;
	position: absolute;
	left: 0.7vw;
	transition: 0.3s all;
	color: #555555;
}
.field input:valid:not(:focus) + label,
.field input:focus + label {
	color: #7fbb00;
	left: 0;
	transform: translate(-1.2vw, -1.7vw) scale(0.7);
}
.field input:invalid:focus + label {
	color: #ff7f7f;
}


.makeAChoice {
	margin-top: 3vw;
	padding-bottom: 2vw;
}
.makeAChoice span {
	font-size: 1.2vw;
}
.addAQuestion {
	position: relative;
	width: 25vw;
	margin-left: 2vw;
	height: 2.5vw;
	margin-bottom: 1vw;
	position: relative;
	padding: 0.5vw;
	padding-left: 1vw;
	border-radius: 2vw;
	box-shadow: 0 0 0.5vw 0 #ddd;
	cursor: pointer;
	transition: 0.2s all;
}
.addAQuestion:hover {
	transform: scale(0.98);
}
.addAQuestion div{
	transition: 0.1s all;
}
.addAQuestion div:hover{
	transform: scale(1.1);
}
.questionType img {	
	pointer-events: none;
	max-width: 2.5vw;
	max-height: 2.5vw;
}
#B3 img {
	padding-top: .2vw;
}
#B2 img,#B3 img {
	padding-left: 0.2vw;
}
.questionType p {
	pointer-events: none;
	position: absolute;
	top: 0;
	text-align: center;
	border-left: .1vw solid;
	border-image: linear-gradient(white, #888, white) 1 100%;
	padding-left: 2vw;
	left: 5vw;
}
.dropdown {
	overflow: hidden;
}

.createSurveyButton {
	margin-top: 4vw;
}
.createSurveyButton span {
	margin-left: 4vw;
	font-size: 1.2vw;
	letter-spacing: .12vw;
	padding: .8vw 1vw;
	color: #ffffff;
	border-radius: .5vw;
	box-shadow: 0 0 5px 0 #ddd;
	font-family: 'Comfortaa', cursive;
	background: #7fbb00;
	cursor: pointer;
	transition: background .15s ease-in-out;
}
.createSurveyButton span:hover {
	background: #75a902;
}
.accountModal {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(127,187,0,0.6);
	align-items: center;
	justify-content: center;
}
.accountModal {
	background-color: rgba(20, 20, 20, 0.6);
}
.modalContent {
	background-color: #ffffff;
	border-radius: 1vw;
	box-shadow: 0 0 3vw 0 #777;
	margin: auto;
	padding: 1vw 1.3vw;
	width: 80%;
}

/* closeModal is the cross button on the top-right corner of the pop-up */
.closeModal {
	color: #808182;
	float: right;
	font-size: 4vw;
	font-family: 'Comfortaa', cursive;
	font-weight: 300;
	margin: 1vw 1.5vw;
	transition: color .2s ease-in-out;
}
.closeModal:hover,
.closeModal:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}