.footer {
	background: #000000;
	color: #ffffff;
}
.bottomText{
	text-align: center;
}
.links {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-bottom: 5vw;
}
.theLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.linksTitle {
	font-size: 2vw;
}
.linksTitle,
.initiative,
.bottomText {
	padding: 1vw 0;
}
.bottomText span {
	cursor: pointer;
	transition: color .2s ease-in-out;
}
.bottomText span:hover {
	color: #7fbb00;
}
.theLinks a {
	text-decoration: none;
	color: #ffffff;
	padding: .5vw;
	transition: color .2s ease-in-out;
}
.theLinks a:hover {
	text-decoration: underline;
	color:#7fbb00;
}