.footer {
	background: #000000;
	color: #ffffff;
}
.bottomText{
	width: 90vw;
	height: 20vw;
	text-align: center;
}
.links {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
}
.theLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.theLinks a {
	text-decoration: none;
	color: #ffffff;
	transition: color .2s ease-in-out;
}
.theLinks a:hover {
	text-decoration: underline;
	color:#7fbb00;
}