.contentContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 .15vw .1vw rgba(0, 0, 0, 0.05);
}
.fillForm form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fillForm {
	margin: 0 auto;
}