.accountModal {
	width: 100%;
	padding-right: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
}
.modalTextContent {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
}
.modalTextContent p {
	font-size: 2vw;
	padding: 2vw 1.3vw;
}
.modalTextContent input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5vw;
	padding: .4vw 2.8vw;
	margin: 2vw 4vw;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	box-shadow: none;
	outline: none;
	width: 16.8vw;
}
.modalTextContent button {
	font-size: 1vw;
  letter-spacing: .06vw;
	padding: .6vw;
	margin-left: 4vw;
	margin-bottom: 1.5vw;
	color: #ffffff;
	border: 0;
  border-radius: .3vw;
	background: #7fbb00;
	cursor: pointer;
  transition: background .15s ease-in-out;
}
.modalTextContent button:hover {
  background: #75a902;
}

