/* Styles of the navbar */

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 .15vw .1vw rgba(0, 0, 0, 0.05);
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logoWithText {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  width: 4vw;
  padding-left: 1vw;
}
.logo img {
  max-width: 4vw;
  max-height: 4vw;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 2vw;
  letter-spacing: .15vw;
  padding: 1vw .2vw;
}
.signupContainer {
  display:flex;
  flex:1;
  height:100%;
  justify-content:flex-end;
  align-items:center;
}

.signup a {
  font-size: 1.18vw;
  letter-spacing: .18vw;
  padding: .7vw;
  margin-right: 1vw;
  text-decoration: none;
  color: #ffffff;
  border: .1vw solid #7fbb00;
  border-radius: .5vw;
  background: #7fbb00;
  transition: background .15s ease-in-out;
}

.signup a:hover {
  background: #75a902;
}

.ghLink {
	border-bottom: 0;
	text-align: center;
}

.ghLink {
	max-width: 2.2em;
	max-height: 2.2em;
	width: 100%;
  height: 100%;
  margin-top:.5vw;
  margin-right:1em;
}
.ghLink:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: rotate();
  cursor:pointer;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10% {
    transform: rotate(5deg);
  }
	20% {
    transform: rotate(10deg);
	}

  30% {
    transform: rotate(15deg);
	}

	40% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-5deg);
  }

	60% {
    transform: rotate(-10deg);
	}

  70% {
    transform: rotate(-15deg);
	}

	80% {
    transform: rotate(-20deg);
	}

	90% {
		transform: rotate(-10deg);
	}

	100% {
    transform: rotate(0deg);
  }
}

/* Mobile Responsive Design */

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logoWithText {
    margin: 0 auto;
  }
  .logo img {
    max-width: 7vw;
    max-height: 7vw;
  }
  .text {
    font-size: 7vw;
    letter-spacing: .2vw;
  }
}