/* This is the corresponding css file for the the titles on top of various pages */

.contentAndTitles {
	/*width: 100%;*/
	/*overflow: hidden;*/
}
.surveysTitle {
	font-family: 'Comfortaa', cursive;
	font-size: 1.9vw;
	margin-top: 10vh;
}