#pRoot {
	margin-left: 6vw;
	margin-top: 4vw;
	margin-bottom: 10vw;
}
#pRoot > div:first-child {
	margin-bottom: 4vw;
}
#surveyTitlePreview {
	font-size: 1.9vw;
	font-weight: 200;
	color: #000000;
}
.previewQuestion {
	margin-top: 3vw ;
}
.previewQuestion > div {
	margin-top: 2vw;
	font-size: 1.2vw;
	font-weight: 400;
	width: 79vw;
}
.previewQuestion > div input {
	padding: 0 1vw;
	border: 0;
	border-bottom: .2vw solid #7fbb00;
	font-size: 1.2vw;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	width: 75vw;
}
.previewQuestion > div input[type="checkbox"] {
	padding: 0 1vw;
	border: 0;
	font-size: 1.2vw;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	width: auto;
	margin-right: 1vw;
}
.previewQuestion > div select {
	padding: .2vw .5vw;
	margin-left: 1vw;
	border: .1vw solid #7fbb00;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	color: #808182;
}
.previewQuestion img {
  max-width: 2vw;
  max-height: 2vw;
  width: 100%;
	height: 100%;
	cursor: pointer;
	position: relative;
	top: 3.8vw;
	left: 80vw;
}
.previewCheckbox div:first-child{
	margin-top: 1vw;
}