/* This is the css file corresponding to sidebars on all pages that have sidebars */
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22vw;
	height: 100vh;
	box-shadow: .15vw 0 .1vw rgba(0, 0, 0, 0.05);
}

.sidebar span {
	color: #75a902;
	font-size: 1.45vw;
	font-weight: 800;
	padding: 3.9vw 0;
	border-bottom: .15vw solid #dce5ee;
	width: 80%;
	text-align: left;
	cursor: pointer;
	overflow-y: hidden;
	transition: color .1s ease-in-out;
}



.sidebar span:hover {
	color: #7fbb00;
}
