.surveyList {
	padding: 1vw 2vw;
	width: 100%;
}
.survey {
	width: 100%;
	box-shadow: 0 .2vw .3vw 0 rgba(0, 0, 0, 0.05), 0 .1vw .5vw 0 rgba(0, 0, 0, 0.05);
	transition: box-shadow .2s ease-in-out;
	padding: 1.5vw;
}
.survey:hover {
	box-shadow: 0 .2vw .3vw 0 rgba(0, 0, 0, 0.08), 0 .1vw .5vw 0 rgba(0, 0, 0, 0.08);
	cursor: pointer;
}
.surveyTitle {
	margin: 1.5vw 3vw;
	margin-top: 0;
}
.surveyTitle span {
	font-size: 1.25vw;
	color: #000000;
	margin: 1vw;
	transition: .2s color ease-in-out;
}
.surveyTitle span:hover {
	color: #7fbb00;
	text-decoration: underline;

}
.surveyDescription span {
	font-size: .9vw;
	margin: 1vw;
}