/* Events  Styling */
.eventsContainer {
  width: 100%;
  height: auto;
}

.eventsLine p {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8vw;
}

.events {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 4vw;
}

.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 .4vw .8vw 0 rgba(0, 0, 0, 0.2), 0 .3vw 1vw 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  transition: all .2s ease-in-out;
  margin-bottom: 6vw;
}

.event:hover {
  box-shadow: 0 .4vw .8vw .07vw rgba(0, 0, 0, 0.23), 0 .3vw 1vw .1vw rgba(0, 0, 0, 0.21);
}

.eventImage img {
  max-width: 20vw;
  max-height: 20vw;
  width: auto;
  height: auto;
}

.eventTextContainer {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  padding: .4vw 1vw;
}

.eventTitle {
  font-size: 2vw;
  font-weight: 100;
  padding-bottom: .15vw;
}

.eventDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: .5vw 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 1.3vw;
}

.description {
  padding-top: 1.5vw;
  font-size: 1.4vw;
}

.readMore {
  padding-top: 1vw;
  font-size: 1.1vw;
  color: #000;
  width: 10%;
  margin-right: auto;
  margin-left: auto;
}

.readMore:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Events Expanded Styling */
.eventTitleExpanded {
  text-align: center;
  font-size: 2.5vw;
}
.eventImageExpanded img{
  max-width: 25vw;
  max-height: 25vw;
}
.eventsPadding {
  padding-top: 1vw;
}
.eventDescriptionTitle {
  font-weight: 900;
  font-size: 1.5vw;
}
.eventDetailsExpanded {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.3vw;
}
.location,
.dateAndTime,
.website,
.phoneNumber {
  padding: .8vw 2vw;
}
.location p, .phoneNumber p {
  margin: 0;
}
.website a{
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
  text-decoration: none;
}
.website a:hover {
  text-decoration: underline;
}
.signUpButtonWrapper {
  display: flex;
}
.signUpButton {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  letter-spacing: .1vw;
  padding: 1.2vw 3vw;
  background: #000000;
  color: #ffffff;
  border: 0;
  border-radius: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  transition: background .8s ease-out, color .5s ease-out;
}

.signUpButton:hover {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
}
.dontDisplay {
  display: none;
}
/* Animations Used On The Webpage */
.zoomInOut {
  animation: zoominout .3s forwards;
}
@keyframes zoominout {
  0% {
    transform: scale(.95);
  }
  10% {
    transform: scale(.955);
  }
  20% {
    transform: scale(.96);
  }
  30% {
    transform: scale(.965);
  }
  40% {
    transform: scale(.97);
  }
  50% {
    transform: scale(.975);
  }
  60% {
    transform: scale(.98);
  }
  70% {
    transform: scale(.985);
  }
  80% {
    transform: scale(.99);
  }
  90% {
    transform: scale(.995);
  }
  100% {
    transform: scale(1);
  }
}
.transparent {
  opacity: 0;
}